@import url('https://fonts.googleapis.com/css?family=Montserrat');

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}


/* Style for the top navigation bar */
.topnav {
  position: sticky;
  top: 0;
  height: 60px;
  overflow: hidden;
  background-color: #333;
  z-index: 100;
}
.topnav a {
  float: left;
  color: #ffffff;
  text-align: center;
  height: 100%;
  padding: 0px 16px;
  text-decoration: none;
  font-size: 18px;
  display: flex;
  align-items: center;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
.topnav .right {
  float: right;
}
.topnav img {
  height: 28px;
  width: auto;
  vertical-align: middle;
  margin-right: 8px;
}
.topnav .nav-logout {
  float: right;
  color: #ffffff;
  text-align: center;
  height: 100%;
  padding: 0px 16px;
  text-decoration: none;
  font-size: 18px;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}
.topnav .nav-logout:hover {
  background-color: #ddd;
  color: black;
}


/* Background image at the top of the page */
.background {
  min-height: 200vh;
  background-image: url("../../public/img/background.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.4;
  transition: opacity 0.5s ease;
  z-index: -1;
}


/* Greeting message */
.message {
  position: absolute;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: clamp(2rem, 5vw, 10rem);
  line-height: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: opacity 1s ease-in-out;
}
.message.inactive {
  opacity: 0;
}

/* Overwrites the default header settings, then changes text size */
@keyframes slideGradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
.message h1 {
  white-space: nowrap;
  margin: 0;
  margin-bottom: 10%;
  padding: 0;
  background: linear-gradient(270deg, red, orange, yellow, green, blue, indigo, violet);
  background-size: 1000% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: slideGradient 20s linear infinite;
}
.message h2, .message h3 {
  white-space: nowrap;
  margin: 0;
  margin-top: 3vh;
  padding: 0;
  background-clip: text;
  text-shadow:
    1px 0 rgb(200, 200, 200),
   -1px 0 rgb(200, 200, 200),
    0 1px rgb(200, 200, 200),
    0 -1px rgb(200, 200, 200);
}
.message h2 {font-size: 0.7em;}
.message h3 {font-size: 0.4em;}




/* Catalogue to display items from the database */
.catalogue-wrapper {
  position: relative;
  display: flex;
  padding-bottom: 50vh;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transform: translateY(-100vh);
}
.catalogue {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 20%);
  display: grid;
  grid-template-columns: repeat(3, minmax(12vw, 1vh));
  grid-template-rows: repeat(3, auto);
  gap: 3vh;
  max-height: 50vh;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.catalogue.visible {
  opacity: 1;
}

/* Slides text onto the screen when scrolling down */
.text-slide {
  position: absolute;
  text-align: right;
  font-family: "Montserrat", sans-serif;
  font-size: 3.4vw;
  top: 25vh;
  left: -100vw;
  opacity: 0;
  transition: transform 1.5s ease-out, opacity 1.5s ease-out;
  z-index: 1;
}
.text-slide.active {
  transform: translateX(131vw);
  opacity: 1;
}

/* Search bar for the catalogue */
.search-bar {
  position: absolute;
  top: 70%;
  right: 6vw;
  width: 20vw;
  height: 3vh;
  font-size: 2vh;
  z-index: 10;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.search-bar.visible {
  opacity: 1;
}
.search-advanced {
  position: absolute;
  top: 82%;
  right: 6vw;
  border: 0.1vh solid #ddd;
  border-radius: 2vh;
  padding: 0.8vw;
  background: #f9f9f9;
  height: fit-content;
  width: 19vw;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.search-advanced.visible {
  opacity: 1;
}
.search-advanced select {
  width: 100%;
  padding: 1vh;
  margin-bottom: 2vh;
  border: 1px solid #ccc;
}
.price-range {
  width: 90%;
  padding: 1vh;
  margin-bottom: 2vh;
  border: 0.1vh solid #ccc;
}
.price-range input {
  flex: 1;
  width: 92%;
  padding: 1vh;
  border: 0.1vh solid #ccc;
}

/* Cards to add an item's image, name, and price */
.product-card {
  background-color: white;
  border: 0.1vh solid black;
  overflow: hidden;
  box-shadow: 0 1vh 2vh rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}
.product-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 2vh 5vh rgba(0,0,0,0.15);
}
.product-card img {
  height: 25vh;
  width: 100%;
  object-fit: contain;
  object-position: center;
}
.product-card info {
  padding: 3vh;
  text-align: center;
}
.product-name {
  font-size: 3vh;
  color: black;
  margin-top: -1.5vh;
  margin-bottom: -2vh;
}
.product-price {
  font-size: 2.5vh;
  margin-bottom: -1vh;
}
.product-description {
  font-size: 3vh;
  color: #555;
  margin-bottom: 20px;
}


/* The modal opens a pop-up when the item is clicked */
.product-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}
.product-content {
  background: #fff;
  border-radius: 3vh;
  max-width: 50vw;
  width: 100%;
  max-height: 50vh;
  height: 100%;
  padding: 3vh;
  position: relative;
  box-shadow: 0 2vh 6vh rgba(0,0,0,0.2);
  text-align: center;
  overflow-y: auto;
}

/* Contains the wrapper for the modal to be split left and right */
.product-modal-inner {
  display: flex;
  flex-direction: row;
  gap: 3vw;
  align-items: flex-start;
  height: 100%;
  width: 100%;
}
/* Left modal contains the image */
.product-modal-left {
  flex: 1 1 18vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Right modal contains all the product info */
.product-modal-right {
  flex: 1 1 18vw;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 30vh;
  padding-bottom: 2vh;
  align-items: flex-start;
}
.product-modal-right .product-modal-content {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  width: 100%;
}
.product-modal-right .product-name {
  font-size: 3vh;
  font-weight: bold;
  margin-top: 0.8vh;
}
.product-modal-right .product-price {
  font-size: 2.3vh;
}
.product-modal-right .product-stock {
  font-size: 2vh;
}
.product-modal-right .product-stock-amount {
  font-size: 3vh;
  color: #e53935;
  font-weight: bold;
}
.product-modal-right .product-description {
  text-align: left;
  font-size: 1.65vh;
  color: #555;
  margin-bottom: 2vh;
}
.product-image-full {
  width: 100%;
  max-height: 30vh;
  object-fit: contain;
  margin-bottom: 1.7vh;
}
.product-modal-right .add-to-cart {
  align-self: center;
  margin-top: auto;
  background: #007bff;
  color: white;
  padding: 1.2vh 2.5vh;
  font-size: 1rem;
  border: none;
  border-radius: 2vh;
  cursor: pointer;
  transition: background 0.2s;
}
.product-modal-right .add-to-cart:hover {
  background: #0056b3;
}
.close-button {
  position: absolute;
  top: 1vw;
  right: 1.3vw;
  font-size: 4vh;
  font-weight: bold;
  color: #000000;
  cursor: pointer;
  transition: color 0.2s;
}


.footer {
  position: relative;
  width: 100%;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 0.5vh;
}
.footer p {
  font-size: 1.7vh;
  line-height: 1vh;
}
